# Django secrets
PRODUCTION=True
SECRET_KEY="mudar-chave-em-produção"
DEBUG=True
ALLOWED_HOSTS=*

# sqlite ou postgres
DB_ENGINE=sqlite

# Configuração SQLite
SQLITE_NAME=db.sqlite3

# Configuração PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

